@page "/"
@page "/index"
@page "/home"
@page "/startseite"

<PageTitle>Qotd</PageTitle>

<QuoteOfTheDay QotdVm="@QotdViewModel">

</QuoteOfTheDay>

<div class="container alert alert-dark">
    <div class=" overflow-hidden">@QotdViewModel?.LogAsJson()</div>
</div>
