@page "/"
@page "/index"
@page "/home"
@page "/startseite"

<PageTitle>Qotd</PageTitle>

<QuoteOfTheDay QotdVm="@QotdViewModel">
    <LogOfQotd>
        <div class="alert alert-dark">@QotdViewModel?.LogAsJson()</div>
    </LogOfQotd>
</QuoteOfTheDay>

