@model IEnumerable<SchulungQotd.Shared.Models.AuthorViewModel>

<table class="table table-hover">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>