@model SchulungQotd.Service.Models.QuoteOfTheDayViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="text-center">
        <div class="p-2 bg-light rounded-3">
            <h5 class="display-6 py-3">Spruch Des Tages</h5>
            <p class="text-center">
                <!-- 1. Variante Klassik -->
               @*  @if (!string.IsNullOrEmpty(Model.AuthorImageMimeType) && Model.AuthorImage is not null)
                {
                    // src="data:MIMETYPE;base64,NUTZDATEN"
                    <img width="150" src="data:@Model.AuthorImageMimeType;base64,@Convert.ToBase64String(Model.AuthorImage)" />
                }
                else
                {
                    <img width="150" src="https://via.placeholder.com/150"/>
                } *@
                
                <!-- 2. Variante TagHelper -->
                <image-data-url 
                    image-mime-type="@Model.AuthorImageMimeType"
                    image="@Model?.AuthorImage"
                    width="150"
                    alt-src="https://via.placeholder.com/150" />
            </p>
            <blockquote class="text-center">
                <p class="lead fw-bold">@Model.QuoteText</p>
                <cite>
                    <span>@Model?.AuthorName - @Model?.AuthorDescription</span>
                    <br/>
                    <span>
                        @(Model?.AuthorBirthdate is not null ? Model.AuthorBirthdate.Value.ToShortDateString() : "")
                    </span>
                </cite>
            </blockquote>
        </div>
    </div>
</div>